body, html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    font-family: Calibri;
}

.bg-image {
    background-image: url("../images/background-image-dark.jpg");
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 90%;
    background-position: center;
    background-repeat: repeat;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: #fff;
    background-color: #fff;
    border-color: #1861ac;
}

#login-section {
    padding: 0 20% 0 20%;
}

#login-button {
    padding: 0 55% 0 45%;
}

#login-nickname {
    width: 100px;
}

#chat-messages {
    background-color: white;
    color: black;
    height: 200px;
    overflow-y: scroll;
}

#chat-exit {
    padding: 0 0 0 45%;
}

/***  Message Buble Style ***/

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.other {
    align-items: flex-start;
}

.other .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}   

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}
sub {
    font-size: 60% !important;
    font-style: italic;
}
       
